header{
    height: 10vh;
    background-color: #b8cfec;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.myclass{
    height: 100vh;
}

#hero{
    background-image: url(/images/mirror.jpg);
    background-size: cover;
}
